@charset "UTF-8";
/* CSS Document */

html, body{
	margin: 0px;
	background: url('../img/symphony.png') repeat 10px 10px;
	/* Background image from http://subtlepatterns.com/ */
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	color: DimGray;
}

h1{
	color: tomato;
}

h2{
	color: Salmon;
}
/* -------------- Name Styles ------------*/
h1.name{
	margin-bottom: 0px;
	border: 10px solid tomato;
	padding: 30px;
	display: inline;
}

#border{
	margin-top: 150px;
}
/* -------------- Position Styles ------------*/
h2.position{
	margin-top: 40px;
  padding: 30px;
}
/* -------------- Contact Styles ------------*/
.phone-number{
	color: DarkSeaGreen;
}
a.email{
	color: DarkSeaGreen;
}
/* -------------- Mission Statment Style ------------*/
.mission-statment{
	font-style: italic;
	font-size: 20px;
	margin-top: 50px;
	line-height: 30px;
}
/* -------------- Content Styles ------------*/
.content-style{
	border: 1px solid grey;
  margin: 30px auto;
  width: 50%;
}
